body{background-color: rgb(206, 255, 206);
    font-family: 'Montserrat', sans-serif;;}
    table,td{border: 1px solid plum; border-collapse: collapse ;}
    button{background: orange;
        padding:10px 20px 10px 20px ; color:blue; text-align: center; border-radius: 20px;}
.table1-border{border:3px solid red; border-radius: 50%;} 