body, h1, h2, p {margin: 0;padding: 0; }
body {font-family: 'Montserrat', sans-serif;;margin: 0;padding: 0;background-color: #f5f5f5;}
header {background-color: #ffbcc7; color: #333;text-align: center; }
.container {max-width: 1400px; margin: 10px ;padding: 10px;background-color: #c0eafa; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
table {width: 100%;border-collapse: collapse;}
th, td {padding: 10px; text-align: left;}
.btn {padding: 10px 20px; background-color: #FFC0CB;  border: none; border-radius: 5px;font-size: 16px;}
button{color:#e4526a ; background-color: #c0eafa; border-collapse: collapse; border: none; border-radius: 5px;border-radius: 5px;font-size: 18px; padding: 5px 5px;}
.custom-btn {background-color: #c0eafa; color: black;}
<style>
    .custom-bg {background-color: #c0eafa; }
</style>





