
body { font-family: Arial, sans-serif; margin: 0;padding: 0;background-color: #f5f5f5}
header {background-color: #FFC0CB; 
    color: #333;
    text-align: center;
    padding: 20px;}

table {
    width: 200%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333;
}

th {
    background-color: #FFC0CB; 
}





